[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "==9.4.0"
torch = "==2.0.0"
torchvision = "==0.15.0"
pytorch-lightning = "==2.0.0"
metaflow = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.10"
